<div class='container my-5'>
  <div class="card">
    <div class="card-body my-3 mx-3">
      <h3 class="feature-title pb-2">This is
        <%= @user.email %>'s profile page.</h3>
      <%#current_user is point local current user %>
        <form>
           <fieldset disabled>
          <div class='user-avatar'>
            <% if @user.avatar.attached? %>
              <%# if there's no user avatar %>
                <%= image_tag @user.avatar, style: 'width: 200px;'%>
              <% end %>
            </div>

            <div class="row mb-3">
              <label for="Username" class="col-sm-2 col-form-label">Username:</label>
              <div class="col-sm-10 form-control">
                <%= @user.username%>
              </div>
            </div>

            <div class="row mb-3">
              <label for="Birth" class="col-sm-2 col-form-label">Birth</label>
              <div class="col-sm-10 form-control">
                <%= @user.birth_date %>
              </div>
            </div>
  </fieldset>
          </form>

          <div class='follow-unfollow'>
            <% if current_user.followings.include?(@user) %>
              <%#ruby method if user 2 is inside the array %>
                <%= form_with(model: @find_relationship, html: { method: :delete }) do |f| %>
                <%= f.submit 'Unfollow' %>
                <%# @find_relationship instance var can be find at users_controller %><% end %>
              <% else %>
                <%= form_with(model: @new_relationship) do |f| %>
                <%= hidden_field_tag :following_id, @user.id %>
                <%# text_field_tag @user.id show the current user visting %>
                  <%= f.submit 'Follow', class: "btn btn-outline-secondary"  %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class='container my-5'>
        <div class="card">
          <div class="card-body my-3 mx-3">
            <h3 class="feature-title pb-2">New post</h3>

            <% if current_user == @user %>
              <%# to avoid current user to create a posts in profile page%>
                <%= form_for @post do |f| %>
                <%= render 'shared/error_message', object: @post %>

                <form>
                  <div class="mb-3">
                    <%= f.file_field :photo, class: "form-control" %>
                  </div>

                  <div class="row mb-3">
                    <%= f.label :caption, class: "col-sm-2 col-form-label" %>
                    <div class="col-sm-10">
                      <%= f.text_field :caption, class: "form-control" %>
                    </div>
                  </div>

                  <%= f.submit 'Post', class: "btn btn-outline-secondary"  %>
                <% end %>
              <% end %>
            </form>

          </div>
        </div>
      </div>

      <div class='container my-5'>
        <div class="card">
          <div class="card-body my-3 mx-3">
            <h3 class="feature-title pb-2">User posts</h3>

            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Caption</th>
                    <th scope="col"></th>
                    <th scope="col">Actions</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody >
                  <% @posts.each do |post| %>
                  <tr>
                    <td>
                        <% if post.photo.attached? %>
                          <%= image_tag post.photo, style: 'width: 100px;' %></td>
                        <% end %>
                        <td><%= post.caption %></td>
                        <td><%= link_to 'Show', post_path(post), class: "btn btn-outline-secondary" %></td>
                        <%# create show action method in post controller %>
                          <% if current_user == @user %>
                            <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-outline-secondary" %></td>
                            <td><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary" %></td>
                            <%# find path at rails routes -g posts %><% end %>
                          <% end %>
                          <%# get the post which belong to the user %>

                            <br>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>

              <%# By default a new post, a forma is actually a post method
When you submit it, rails will know that to find the posts controller
and get the create action method inside the post controller. %>
