<section class='user-profile'>
  <h1>This is <%= @user.email %>'s profile page.</h1> <%#current_user is point local current user %>

  <div class='user-avatar'>
    <% if @user.avatar.attached? %> <%# if there's no user avatar %>
    <%= image_tag @user.avatar, style: 'width: 200px;'%>
    <% end %>
  </div>

  <div class='user-details'
    <p>Username: <%= @user.username %></p>
    <p>Birth: <%= @user.birth_date %></p>
  </div>

  <div class='follow-unfollow'>
    <% if current_user.followings.include?(@user) %> <%#ruby method if user 2 is inside the array %>
      <%= form_with(model: @find_relationship, html: { method: :delete }) do |f| %>
        <%= f.submit 'Unfollow' %> <%# @find_relationship instance var can be find at users_controller %>
      <% end %>
    <% else %>
      <%= form_with(model: @new_relationship) do |f| %>
        <%= hidden_field_tag :following_id, @user.id %> <%# text_field_tag @user.id show the current user visting %>
        <%= f.submit 'Follow' %>
      <% end %>
    <% end %>
  </div>

 <% if current_user == @user %> <%# to avoid current user to create a posts in profile page%>
  <%= form_for @post do |f| %>
    <%= render 'shared/error_message', object: @post %>
    <%= f.file_field :photo %>
    <%= f.label :caption %>
    <%= f.text_field :caption %>
    <%= f.submit 'Post' %>
    <% end %>
  <% end %>

  <% @posts.each do |post| %>
    <% if post.photo.attached? %>
      <%= image_tag post.photo, style: 'width: 200px;' %>
    <% end %>
      <%= post.caption %>
      <%= link_to 'Show', post_path(post) %> <%# create show action method in post controller %>
       <% if current_user == @user %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %> <%# find path at rails routes -g posts %>
    <% end %>
    <% end %>
   <%# get the post which belong to the user %>
</section>

<%# By default a new post, a forma is actually a post method
When you submit it, rails will know that to find the posts controller
and get the create action method inside the post controller. %>
