<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong">
  <div class="mask d-flex align-items-center h-100" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
            <form class="bg-white  rounded-5 shadow-5-strong p-5">
          <!-- Email input -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-outline mb-4">
            <%= f.label :email, class: "form-label" %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg" %>
          </div>

          <div class="form-outline mb-4">
            <%= f.label :password, class: "form-label" %><br/>
            <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-control-lg" %>
          </div>

          <% if devise_mapping.rememberable? %>

            <div class="form-outline mb-4">

              <%= f.check_box :remember_me, class: "form-check-input"  %>
              <%= f.label :remember_me, class:"form-check-label" %>
            </div>
          <% end %>


          <%= f.submit "Log in", class:"btn btn-primary btn-block" %>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
        </form>
    </div>
    <!-- Submit button -->
  </div>
</div>
</div>
