<div class='container my-5'>
  <div class="card">
    <div class="card-body my-3 mx-3">
      <h3 class="feature-title pb-2">Post</h3>

      <form>
        <div class="mb-3">
          <% if @post.photo.attached? %>
            <%= image_tag @post.photo, style: 'width: 200px;' %>
          <% end %>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Caption:</label>
          <%= @post.caption %>
        </div>
      </form>

      <%= form_with(model: [@post, @comment]) do |f| %>
      <%# Because it wrapped with post. Comment.new can be change using instance variable. Create new post use .new %>
        <div class="mb-3">
          <%= f.text_field :content , placeholder: 'Write your comment here', class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.submit 'Comment', class: "btn btn-primary" %>
        <% end %>
      </div>

      <% @comments.each do |comment| %>
        <%# @post.comments.each do |comment| %>

          <p>User:
            <%= comment.user.username %>

            <%# to show which user actually comment this%>
              <p>Comment:
                <%= comment.content %></p>
              <%# we can also put on posts_controller %><% end %>

            </div>
          </div>
        </div>
