<!DOCTYPE html>
<html>
  <head>
    <title>IgCloneJuly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# image_tag 'logo/rca-logo.png', style: 'width: 200px;'%>
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
